/// Support IE9
/// @type Bool
$support-ie9: true !default;

/// Support IE8
/// @type Bool
$support-ie8: true !default;

/// Support IE7
/// @type Bool
$support-ie7: false !default;

/// IE Conditional Classes
/// @type Bool
$ie-conditional-classes: true !default;

/// Use Modernizr Helpers
/// @type Bool
$using-modernizr: true !default;

/// Image Folder
/// @type String
$default-img-path: "" !default;

/// Base value of em in pixels
/// @type Number
$em-base: 16 !default;
