/// Quickly set the top, right, bottom, and left positions of an absolutely positioned element.
/// @param {Number list} $coordinates - top right bottom left
/// @see {mixin} unabsolute
/// @link http://codepen.io/upstatement/pen/WvzOLj See it on Codepen >
///
/// @example markup - HTML
/// <div class="container">
///   <div class="item--absolute">Absolute</div>
/// </div>
///
/// <div class="container unabsolute">
///   <div class="item--absolute">Absolute</div>
/// </div>
///
/// @example scss - SCSS
/// .container {
///   position: relative;
/// }
///
/// .item--absolute {
///   @include absolute(100px n n 500px);
/// }
///
/// .unabsolute .item--absolute {
///   @include unabsolute;
/// }
///
/// @example css - CSS Output
/// .container {
///   position: relative;
/// }
///
/// .item--absolute {
///   position: absolute;
///   top: 100px;
///   left: 500px;
/// }
///
/// .unabsolute .item--absolute {
///   position: static;
///   top: auto;
///   right: auto;
///   bottom: auto;
///   left: auto;
/// }
///

@mixin absolute($coordinates: n n n n) {

  $top: nth($coordinates, 1);
  $right: nth($coordinates, 2);
  $bottom: nth($coordinates, 3);
  $left: nth($coordinates, 4);

  position: absolute;

  @if $top == auto or $top == a {
    top: auto;
  }
  // Print nothing if we write an "n" or "none"
  @else if $top == n or $top == none {
  }
  @else {
    top: $top;
  }

  @if $right == auto or $right == a {
    right: auto;
  }
  // Print nothing if we write an "n" or "none"
  @else if $right == n or $right == none {
  }
  @else {
    right: $right;
  }

  @if $bottom == auto or $bottom == a {
    bottom: auto;
  }
  // Print nothing if we write an "n" or "none"
  @else if $bottom == n or $bottom == none{
  }
  @else {
    bottom: $bottom;
  }

  @if $left == auto or $left == a {
    left: auto;
  }
  // Print nothing if we write an "n" or "none"
  @else if $left == n or $left == none {
  }
  @else {
    left: $left;
  }
}

/// Undo absolute positioning on an element.
/// @see {mixin} absolute
/// @link http://codepen.io/upstatement/pen/WvzOLj
/// @example markup - HTML
/// <div class="container unabsolute">
///   <div class="item--absolute">Absolute</div>
/// </div>
///
/// @example scss - SCSS
/// .unabsolute .item--absolute {
///   @include unabsolute;
/// }
///
/// @example css - CSS Output
/// .unabsolute .item--absolute {
///   position: static;
///   top: auto;
///   right: auto;
///   bottom: auto;
///   left: auto;
/// }
///
@mixin unabsolute {
	position: static;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}
