/// Hide only visually, but have it available for screen readers. Add a class of `focusable` to your markup if you want to allow a keyboard to tab the object into focus.
/// @link http://codepen.io/upstatement/pen/aOYyEo See it on Codepen >
/// @link https://css-tricks.com/examples/ImageReplacement/ CSS Tricks: Image Replacement >
/// @link https://github.com/h5bp/html5-boilerplate/blob/5.2.0/dist/doc/css.md Notes in HTML5BP about hidden/invisible accessibility >
/// @see {mixin} hide-text
///
/// @example markup - HTML
/// <div class="item focusable">Lorem ipsum dolor sit amet.</div>
///
/// @example scss - SCSS
/// .item {
///   @include visually-hidden;
/// }
///
/// @example css - CSS Output
/// .item {
///   border: 0;
///   clip: rect(0 0 0 0);
///   height: 1px;
///   margin: -1px;
///   overflow: hidden;
///   padding: 0;
///   position: absolute;
///   width: 1px;
/// }
/// .item.focusable:active, .item.focusable:focus {
///   clip: auto;
///   height: auto;
///   margin: 0;
///   overflow: visible;
///   position: static;
///   width: auto;
/// }
///

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
