/// Greys
$color-grey-f:      #FFFFFF;
$color-grey-e:      #EEEEEE;
$color-grey-c:      #CCCCCC;
$color-grey-a:      #AAAAAA;
$color-grey-9:      #999999;
$color-grey-6:      #666666;
$color-grey-5:      #555555;
$color-grey-3:      #333333;
$color-grey-2:      #222222;
$color-grey-0:      #000000;

/// So Blue
$color-blue: #0000FF;

/// Pink
/// @type Color
$pink: $color-blue;


/// Purple
/// @type Color
$purple: #5c4863;


/// Yellow
/// @type Color
$yellow: #ffc93c;


/// Black
/// @type Color
$black: $color-grey-0;


/// Primary color
/// @type Color
$primary-color: $pink;


/// Primary color
/// @type Color
$secondary-color: $yellow;


/// Primary color
/// @type Color
$tertiary-color: $purple;


/// Light grey
/// @type Color
$light-grey: #e0e0e0;


/// Medium
/// @type Color
$medium-grey: #ddd;


/// Map of breakpoints for responsive design.
/// @prop {Map} small [(max-width: 800px)] - small screens
/// @prop {Map} medium [(min-width: 801px)] - regular screens
/// @see {mixin} respond-to
/// @type Map
$breakpoints: (
  'small':  (max-width: 800px),
  'medium': (min-width: 801px)
) !global;


/// Z-indexes layers.
/// @prop {Number} key   - aliases for specific z-indexes
/// @see {function} z
/// @type Map
$z-indexes: (
  'goku':       9001,
  'modal':      5000,
  'dropdown':   4000,
  'social':     3000,
  'default':       1,
  'below':        -1
) !global;


/// Sidebar width
/// @type Number
$sidebar-width: 280px;


/// Vertical rhythm
/// @type Number
$vertical-rhythm: 1.5rem;


/// Text font stack
/// @type List
$text-font-stack: 'Work Sans', sans-serif;


/// Code font stack
/// @type List
$code-font-stack: 'Courier New', 'Monaco', monospace;

$timing:     cubic-bezier(0.645, 0.045, 0.355, 1);
