/// Convert pixels to ems. `$em-base` is set globally to `16px` in Upbase's settings file. You can override it in your project's settings or variables file.
/// @group Functions
/// @param {Number} $px-val - Desired pixel equivalent
/// @param {Number} $em-base [16px] - Parent em-to-pixel value
/// @require {variable} em-base
///
/// @example scss - SCSS
/// font-size: em(12);
/// font-size: em(12, 24);
///
/// @example css - CSS Output
/// font-size: 0.75em;
/// font-size: 0.5em;
///

@function em($pxval, $em-base) {
  $base: $em-base;
  @if not unitless($pxval) {
      $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
      $base: strip-units($base);
  }
  @return #{($pxval/$base)}em;
}
