/// A two-column layout with one fixed-width column and one liquid-width column.
/// @group Layout
/// @param {Number [unit]} $width - Width of the static column
/// @param {Number [unit]} $margin - Margin between the two columns
/// @param {String} $static-col [left] - Choose the left or right column as the static column
/// @example markup - HTML
///   <div class="l-static">
///     <section class="ui-block-1">
///       <div class="ui-block-inner">
///         <!-- Block 1 Content Goes Here -->
///       </div> <!-- /ui-block-inner -->
///     </section> <!-- /ui-block-1 -->
///     <section class="ui-block-2">
///       <div class="ui-block-inner">
///         <!-- Block 2 Content Goes Here -->
///       </div> <!-- /ui-block-inner -->
///     </section> <!-- /ui-block-2 -->
///   </div> <!-- /l-static -->
/// @example scss - SCSS
///   .l-static {
///     @include grid-static(300px, 40px);
///   }
/// @example css - CSS Output
///   .element {
///     padding: 30px -20px 10px 2.35765%;
///   }
///
@mixin grid-static($width: 300px, $margin: 40px, $static-col: right) {
  // Variables
  $total: $width + $margin;

  // If the right column has a static width
  @if $static-col == right {
    > .ui-block-1 {
      float: left;
      margin-right: -$total;
      width: 100%;

      > .ui-block-inner {
        margin-right: $total;
      }
    }

    > .ui-block-2 {
      float: right;
      width: $width;
    }
  } @else {
    > .ui-block-1 {
      float: left;
      width: $width;
    }

    > .ui-block-2 {
      float: right;
      margin-left: -$total;
      width: 100%;

      > .ui-block-inner {
        margin-left: $total;
      }
    }
  } // eo else

  @include pie-clearfix;
}
